
body {
  text-align: center;
  background-color: #fff700;
}

h1 {
  font-size: 5rem;
  color: #e0c880;
  text-shadow: 3px 0 #7b0101;

}

.w {
     font-family: "Sofia", sans-serif;
}

.a {
  font-family: "Sofia", sans-serif;
}

.s {
  font-family: "Sofia", sans-serif;
}

.d {
  font-family: "Sofia", sans-serif;
}

.j {
  font-family: "Sofia", sans-serif;
}

.k {
  font-family: "Sofia", sans-serif;
}

.l {
  font-family: "Sofia", sans-serif;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #000000;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #ff0303;
  text-shadow: 3px 0 #002b39;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(153, 219, 239);
}

	
